.app {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: black;
}

.header {
  height: 15%;
  background-color: black;
  color: whitesmoke;
  font-size: 1.8em;
  padding: .1em;
}

.main-section {
  background-color: black;
}
