@media screen and (max-width: 550px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 370px) {
  h1 {
    font-size: 30px;
  }
}
