.movie-card {
  text-align: center;
  margin: 0;
  border-radius: 2%;
}

.movie-poster {
  height: 100%;
  width: 100%;
  border-radius: 2%;
  border: 1px solid black;
  transition: all 0.2s ease-in-out 0s;
}


img:hover {
  cursor: pointer;
  transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 10px 0px #FFF;
  -moz-box-shadow: 0px 0px 10px 0px #FFF;
  box-shadow: 0px 0px 10px 0px #FFF;
}
